/* header styling start */
#header_row_1_sec{
    padding: 5px 15px;
}
#header_row_1_sec .logo_img{
    height: 90.2px;
}
#language-selection-wrapper{
    align-self: start;
}
#language-selection-wrapper > a{
    cursor: pointer;
}
#language-selection-wrapper > a:hover{
    border-bottom: 2px solid #d7b763;
}
#header_top_right_sec_ul{
    gap: 0;
}
#header_top_right_sec_ul li{
    border: 1px solid black;
    border-radius: 20px;
    margin: 2px;
    max-width: 150px;
    height: 26.6px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-size: 13px;
    overflow: hidden;
}
.premium_access_btn,
.reg_login_btn,
.search-input-container {
    display: flex;
    gap: 8px;
    margin: 2px;
    align-items: center;
} 
.search-input-container{
    height: 25px !important;
}
.premium_icon,
.header_userIcon{
    width: 21px;
    font-size: 21px;
    aspect-ratio: 1/1 !important;
}
.header_searchIcon{
    font-size: 14px;
    margin-left: 4px;
}
#header_top_right_sec_ul li:first-child{
    color: #520f0f;
    background: #d7b763;
}
.reg_login_btn {
    color: #4a4a4a;
    background: #fff;   
}
.search-input-desktop{
    outline: none;
    border: none;
    background: transparent;
}
/*mega-menu-wrapper start*/
#mega-menu-wrapper{
    background-color: #f6f6f6;
    padding: 0 15px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
#mega-menu{
    flex-wrap:wrap;
    gap: 0px 28px;
    justify-content: flex-start;
    /* margin-left: 15px; */
}
#mega-menu li{
    color: #520f0f;
    font-size: 15px;
    font-weight: 700;
    padding: 4px ;
    text-transform: capitalize;
}
#mega-menu li:hover{
    background: #520f0f;
    color: white;
}
/*mega-menu-wrapper end*/
/* header styling end */

/*footer styling start*/
footer{
    background-color: #171717;
    color: white;
    padding: 50px 0 0;
}
footer a{
    color: white;
}
footer .logo-img{
    width: 100px;
}
.footer-top .left{
    max-width: 500px;
}
.social-media-links{
    gap: 10px;
    justify-content: flex-start;
    margin: 0 0 20px;
}
.social-media-links a{
    display: block;
    width: 26px;
    height: 26px;
    font-size: 15px;
    border: 2px solid #d7b763;
    background: #d7b763;
    color: #171717;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
}
.company-description{
    color: #ffffffe2;
    font-size: 15px;
    font-weight: 300;
    margin: 15px 0 0;
    line-height: 30px;
}
.company-links-list{
    margin: 10px 0 20px;
}
.footer-top li{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.subscribe-container{
    font-size: 15px;
    font-weight: 500;
}
.subscribe-container .input-container{
    justify-content: flex-start;
    gap: 0;
    height: 35px;
    margin-top: 5px;
}
.subscribe-container input{
    width: 300px;
}
.subscribe-container span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #520f0f;
    color: #d7b763;
    font-size: 16px;
    font-weight: 600;
    min-width: 120px;
    text-transform: uppercase;
}
.category-links-list p{
    color: #fc9f00;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}
.footer-top .premium-access-img{
    width: 300px;
}

.footer-bottom{
    padding: 50px 0;
    font-weight: 500;
    text-align: center;
}
/*footer styling end*/
