<footer>
    <div class="footer-wrapper max-width">
        <div class="footer-top flex-row">
            <div class="left flex-column">
                <img class="logo-img" src="" alt="the-federal-logo"></img>
                <p class="company-description"></p>
                <ul class="social-media-links flex-row">
                    <li>
                        <a href="" id="instagram-link"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="" id="facebook-link"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="" id="twitter-link"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="" id="linkedin-link"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="" id="youtube-link"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                </ul>
                <ul class="company-links-list"></ul>
                <div class="subscribe-container">
                    <p></p>
                    <div class="input-container flex-row">
                        <input type="text">
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="mid">
                <ul class="category-links-list"></ul>
            </div>
            <div class="right">
                <img src="" alt="premium-subscription-images" class="premium-access-img">
            </div>
        </div>
        <div class="footer-bottom"></div>
    </div>
</footer>
