<header id="header-tag">
    <div id="header_row_1_sec" class="flex-row max-width">
        <img src="" alt="The Federal logo" title="The Federal" class="navbar-brand logo_img the-federal-logo">
        <div id="language-selection-wrapper" class="flex-row">
            <a onclick="changeLanguage('en')">English</a>
            <span>|</span>
            <a onclick="changeLanguage('hi')">हिंदी</a>
            <span>|</span>
            <a onclick="changeLanguage('te')">తెలుగు</a>
            <span>|</span>
            <a onclick="changeLanguage('ta')">தமிழ்</a>
        </div>
        <div id="header_top_right_sec">
            <ul class="flex-column" id="header_top_right_sec_ul">
                <li>
                    <a href="" class="btn premium_access_btn">
                        <img src="https://thefederal.com/theme_flamingo/images/icon_header_premium.png" class="premium_icon">
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="" class="btn reg_login_btn">
                        <i class="fa-solid fa-circle-user header_userIcon"></i>
                        <span></span>
                    </a>
                </li>
                <li class="search-input-container">
                    <i class="fa fa-search header_searchIcon"></i>
                    <input type="text" placeholder="" value="" class="search-input-desktop">
                </li>
            </ul>
        </div>
    </div>
    <div id="mega-menu-wrapper">
        <ul id="mega-menu" class="max-width flex-row"></ul>
    </div>
</header>
